@charset "utf-8";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.body{
  height: 100vh;
  background-color: black;
}
header.head{
  text-align: center;
  position: relative;
  height: 40vh;
  background-color: black;
  color: antiquewhite;
}
div.headTitle{
  height: 20vh;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.head span {
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 600%;
  font-weight: 900;
}
header div.headTitle a {
 text-decoration: none;
 color:rgb(240, 197, 141);
 text-align: center;
}
header div.headTitle a:hover {
  font-variant: small-caps;
  font-size: larger;
  margin-top: -0.2%;
}
section {
  padding: 5% 2%;
  line-height: 2;
  font-size: 3vw;
}
section span.txt {
  height: 100%;
  width: 100%;
}
section span.img {
  display: inline-block;
  height: 93%;
  width: 50%;
}
section span p {
  border-radius: 20px;
  padding: 2%;
}
section span.img p {
  margin: 5% 0;
  display: inline-block;
  line-height: 2;
}
#s2 p{
  color: aliceblue;
  background-color: rgba(142, 188, 64, 0.097);
}
#s4 p{
  background-color: rgba(247, 248, 244, 0.717);
}
section.img1{
  background: black url('../images/background001.jpg') center no-repeat fixed;
  background-size: cover;
}
section.img2{
  background: black url('../images/background002.jpg') center no-repeat fixed;
  background-size: cover;
}
footer {
  position: relative;
  height: 20%;
  background-color: black;
  color: antiquewhite;
}
footer p{
  display: inline-block;
  position:absolute;
  font-size: 2vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}